.App {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-height: auto;
	max-width: 128rem;
	background-color: #fff;
	border: 2px dotted #eee;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
	transition: all 0.3s ease-in-out;
}

.App-dark {
	background-color: #222;
	border: 2px dotted #444;
}
